/* if you are using any Google fonts change the font names below to your fonts. 
Any spaces in your font name should be replaced with a +. 
Fonts are separated by a & */
  @import url('https://fonts.googleapis.com/css2?family=Courgette&family=Dancing+Script:wght@600&family=Gloock&family=Quintessential&display=swap');

  :root {
  /* change the values below to your chosen font(s) */
  --heading-font: "Courgette";
  --paragraph-font: Gloock, Dancing Script, Quintessential;

}
h1 {
    font-family: Courgette;
}
h2 {
    font-family:Gloock;
}
h4 {
   font-family: Quintessential;
}
nav{
    font-family: Quintessential;
}

#content {
    max-width: 1600px;
    display: block;
    margin: 0 auto;
   }
    

   nav a {
    text-align: center;
   }
   #map {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: +100px;
   }
   #map-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
    text-align: center;
   } 
   #tz-img {
    width: 30%;
    display: block;
    margin: 0 auto;
  }
  #kenkey-img {
    width: 30%;
    display: block;
    margin: 0 auto;
  }
  #fufu-img {
    width: 30%;
    display: block;
    margin: 0 auto;
  }
  #ampesi-img {
    width: 30%;
    display: block;
    margin: 0 auto;
  }
   #title-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
    text-align: center;
   }
   .tz-title {
    text-align: center;
   }
   .fufu-title {
    text-align: center;
   }
   .ampesi-title {
    text-align: center;
   }
   .kenkey-title {
    text-align: center;
   }
   #map-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: -100px;
   }
   #title-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: -10px;
   }
   #map-msg p {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
    text-align: center;
    font-family: Quintessential;
   }
   
   #tz-msg, #fufu-msg, #ampesi-msg {
    font-family: Quintessential;
   }
   #map-box {
    grid-column: 1/2;
    grid-row: 1/2;
    z-index: -1;
   }
    
   #map-img {
    width: 100%;
    display: block;
    margin: 0 auto;
  }

   #map-msg h1 {
    text-align: center;
    color: black;
   }

   #map-msg h4 {
    text-align: center;
    color: black;
   }
   .logo {
    width: 80px;
   }

   main section {
    text-align: center;
   }

   #background {
    height: 725px;
    }

    #header {
    height: 72px; 
    }
    header{
        display: grid;
        grid-template-columns: 150px auto;
    }

    body {
    background-color: white
    }

    header {
    background-color: #E192E5
    }
    nav {
        background-color: #E192E5
    }
    nav {
        display: flex;
        justify-content: space-around;
    }
    a:hover {
        background-color: #905BB5
    }
    .msg {
        background-color: #EBE4A8
    }
    .msg {
        line-height: 0.5em;
        padding: 35px;
        display: grid;
        grid-column: 1/11;
        grid-row: 4/5;
        box-shadow: 5px 5px 10px #E192E5;
    } 
    .msg p {
        font-size: .8em;
        padding-bottom: 15px;
    }
    .msg p {
        font-family: Courgette;
    }     
    footer {
        background-color: #E192E5
    }
    footer {
        padding: 25px 50px;
        margin-top: 200px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    footer a {
        background-color: #E192E5
    }
    
    footer a:hover {
        background-color: #905BB5
    }
    
    nav a {
        background-color: #E192E5
    }
    
    nav a:hover{
        background-color: #905BB5
    }    
    .home-title {
        font-size: 2em;
        margin-top: 10px;
    }  
    .home-grid {   /*grid in 10*/
        display: grid;
        grid-template-columns: repeat(10, 1fr);  
        column-gap: 20px; 
        row-gap: 20px; 
    }
    nav a {
        text-align: center;
        color: black;
        text-decoration: none;
        padding: 30px;
    }  
    footer a {
        text-align: center;
        color: black;
        text-decoration: none;
        }    
        

    footer p {
        font-size: 1.2em;
        font-family: Courgette;
        } 
        
    footer p a:hover {
        text-decoration: none;
    } 
 /*Simple reset of the default padding*/
 body {
    background-color: white
}

body {
    background-color: white;
    font-family: Gloock, Dancing Script, Quintessential;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
h2 {
    margin: 0;
}  
/*adding padding and margins*/
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
.home-title {
    margin-top: 10px;
}
.Nothern-card {
    margin:200px 0;
    grid-column: 1/2;
    grid-row: 1/2;
}
.Greater-card {
    margin: 200px 0;
    grid-column: 1/2;
    grid-row: 2/3;
}
.Eastern-card {
    margin: 200px 0;
    grid-column: 3/10;
    grid-row: 2/3;
} 
.Western-card {
    margin: 200px 0;
    grid-column: 3/10;
    grid-row: 1/2;
    margin-top: -10px;
} 
/*other borders, border radius and box-sizing*/
.card-img {
    border: 10px solid #905BB5;
    box-shadow: 5px 5px 10px #E192E5;
}
.card-img:hover {
    opacity: .6;
}

main section img {
    box-sizing:border-box;
}
 /*responsive design*/
 @media screen and (max-width: 900px) {
    #map, .home-grid, #title-msg, .form {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #map {
        margin-top: 0;
    }
    #title-msg {
        margin-top: 0;
    }

    #map-msg {
        margin-top: 0;
    }
    #tz-msg, #fufu-msg, #ampesi-msg {
        margin-top: 0;
    }
    #map-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .Northern-card, .Greater-card, .Eastern-card, .Western-card{ 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}


